.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.4rem;
}

.menu ul {
  display: flex;
  gap: 1rem;
}

.menuLink {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  cursor: pointer;
}

.menuLink svg:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

.menuLink svg {
  width: 2.4rem;
  height: 2.4rem;
  box-sizing: content-box;
  padding: 1.2rem;
  background-color: var(--primary);
  color: var(--text-over-primary);
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
  border-radius: 0.8rem;
  -webkit-border-radius: 0.8rem;
  -moz-border-radius: 0.8rem;
  -ms-border-radius: 0.8rem;
  -o-border-radius: 0.8rem;
}
