* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --hover-transition: all 0.3s ease;
}

html {
  font-size: 62.5%;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--gray-900);
  color: var(--text-default);
  font-size: 1.6rem;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2.4rem;
}

.formRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
