.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
  margin-top: 6.2rem;
}

.logoLink {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-weight: bold;
  gap: 0.5rem;
  font-size: 4.2rem;
  color: var(--primary);
  transition: var(--hover-transition);
  -webkit-transition: var(--hover-transition);
  -moz-transition: var(--hover-transition);
  -ms-transition: var(--hover-transition);
  -o-transition: var(--hover-transition);
}

.logoLink:hover {
  filter: brightness(80%);
  -webkit-filter: brightness(80%);
}

.logoLink svg {
  width: 6.4rem;
  height: 6.4rem;
}
